<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-viewport" version="1.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Viewport</name>
  <engines>
    <engine name="cordova" version=">=6.0.0" />
    <engine name="cordova-android" version=">=5.0.0" />
  </engines>
  <platform name="android">
    <hook type="after_prepare" src="set-viewport.js" />
  </platform>
</plugin>
